/* general */
* {
  box-sizing: border-box;
}

body {
  background: #181818;
}


p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Raleway", sans-serif;
}

p {
  font-size: 16px;
  color: whitesmoke;
}

h1 {
  font-size: 90px;
  color: white;
  font-weight: 900;
}

h2 {
  font-size: 26px;
  color: whitesmoke;
}

h3 {
  font-size: 24px;
  font-weight: 900;
  color: white;
}

h4 {
  font-size: 22px;
  font-weight: 900;
  color: white;
}

h5 {
  font-size: 20px;
  color: whitesmoke;
}

button {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
}


/* sidebar */

.sidebar {
  background: #121212;
}

.sidebar-section {
  margin-top: 50px
}


.sidebar-menu {
  padding: 20px 0px;
}


/* navbar */
a {
  color: whitesmoke;
  font-weight: bolder;
}

a:hover {
color: lightgray;
}

a:active {
  color: lightgray;
}

.button {
  color: white;
  background-color: #F5927C;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.button:active {
  color: white;
  background-color: #666666;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}

.button:hover {
  color: white;
  background-color: #666666;
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
}


 /* navbar */

.title-bar {
  width: 100%;
  background: black;
  opacity: 30%;
}


/* header */
.artist-picture {
  height: 60vh;
  width: 100%;
  /* background-position-y: 28%;
  background-position-x: bottom; */
  background-size: cover;
  padding: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;  
}

.picture-opacity {
  position: absolute;
  top: 0px;
  height: 60vh;
  width: 100%;
  background-size: cover;
  background:
   linear-gradient(
      to bottom,
      rgba(24, 24, 24, 0), rgba(24, 24, 24, 1)  
    );
}

.artist-data {
  position: absolute;
  top: 0px;
  height: 60vh;
  margin-left: 30px;
}

.picture-grid {
  height: 60vh;
  width: 100%;

}

#artist-name {
  font-family: "Recursive", sans-serif;
  padding-bottom: 20px;
  color: white;
}

/* biography section */
.morecontent span {
	display: none;
}

a {
	color: #F5927C;
}
a:visited {
	color: #F5927C;
}


/* similar artist section */
.section-title {
  margin-top: 100px;
  margin-bottom: 30px;
}

.similar-artists {
  margin-top: 50px;
}

/* card */
#similar-artists {
  margin: 50px 200px;
}

.artist-info {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.artist-info:hover {
  opacity: .85;
  filter:contrast(120%);
}

.artist-name {
    padding: 10px 0px 40px 0px;
}


/* media queries */
@media (max-width: 1150px) {
  .artist-info {
      /* background: url(../images/iggy_pop.jpg); */
      width: 130px;
      height: 130px;
      background-size: cover;
      background-position: top;
      border-radius: 50%;
      background-repeat: no-repeat;
  }
}

@media (max-width: 900px) {
  .artist-info {
      /* background: url(../images/iggy_pop.jpg); */
      width: 130px;
      height: 130px;
      background-size: cover;
      background-position: top;
      border-radius: 50%;
      background-repeat: no-repeat;
  }

  .artist-data {
    margin-left: 0px;
  }

  .small-hidden {
    display: none;
  }


  

}

@media (max-width: 414px) {

  .artist-info {
      /* background: url(../images/iggy_pop.jpg); */
      width: 160px;
      height: 160px;
      background-size: cover;
      background-position: top;
      border-radius: 50%;
      background-repeat: no-repeat;
  }

  h1 {
    font-size: 30px;
    color: white;
    font-weight: 900;
  }

  .artist-data {
    margin-left: 0px;
  }

  .small-hidden {
    display: none;
  }

  .small-block {
    display: inline;
  }

  .icon {
    text-align: center;
    padding-top: 10px;
  }

  .text-icon {
    text-align: center;
    padding-top: 10px;
  }

 

  

}